{% extends "/gestion_academica/index.html" %}
{% block titulo %} Facultad {% endblock %}
{% block contenido %}

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('router_main.index') }}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('router_main.gestion_academica') }}">Módulo de Gestión Académica</a></li>
        <li class="breadcrumb-item active" aria-current="page">Facultades</li>
    </ol>
</nav>


<div class="container-fluid my-4">
    <div class="card w-100">
        <div class="card-header bg-red-usat text-white" id="headingOne" data-bs-toggle="collapse"
        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Facultades
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tabla-facultad" class="table table-striped tabla-facultades" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Abreviatura</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los datos se cargarán dinámicamente -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- MODAL VER FACULTAD -->
<div class="modal fade" id="modalVerFacultad" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalle Facultad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <!-- LOS DATOS SE CARGAN DINAMICAMENTE -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL AGREGAR FACULTAD -->
<div class="modal fade" id="modalAgregarFacultad" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Facultad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="formAgregarFacultad">
                    <div class="mb-3">
                        <label for="nombreFacultad" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombreFacultad" name="nombreFacultad" required>
                    </div>
                    <div class="mb-3">
                        <label for="abreviaturaFacultad" class="form-label">Abreviatura:</label>
                        <input type="text" class="form-control" id="abreviaturaFacultad" name="abreviaturaFacultad" required>
                    </div>
                    <div class="mb-3">
                        <label for="estadoFacultad" class="form-label">Estado:</label>
                        <select class="form-control" id="estadoFacultad" name="estadoFacultad" required>
                            <option value="A">Activo</option>
                            <option value="I">Inactivo</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- MODAL MODIFICAR FACULTAD -->
<div class="modal fade" id="modalModificarFacultad" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modificar Facultad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="formModificarFacultad">
                    <input type="hidden" id="idFacultadMod" name="idFacultadMod">
                    <div class="mb-3">
                        <label for="nombreFacultadMod" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombreFacultadMod" name="nombreFacultadMod" required>
                    </div>
                    <div class="mb-3">
                        <label for="abreviaturaFacultadMod" class="form-label">Abreviatura:</label>
                        <input type="text" class="form-control" id="abreviaturaFacultadMod" name="abreviaturaFacultadMod" required>
                    </div>
                    <div class="mb-3">
                        <label for="estadoFacultadMod" class="form-label">Estado:</label>
                        <select class="form-control" id="estadoFacultadMod" name="estadoFacultadMod" required>
                            <option value="A">Activo</option>
                            <option value="I">Inactivo</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para confirmar eliminación -->
<div class="modal fade" id="modalEliminarFacultad" tabindex="-1" aria-labelledby="modalEliminarFacultadLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center fw-bold">Eliminar Facultad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body text-center">
                <p>¿Estás seguro de que deseas eliminar la facultad <strong id="nombreFacultadEliminar"></strong>?</p>
                <input type="hidden" id="idFacultadEliminar" name="idFacultadEliminar">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="confirmarEliminarFacultad">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para confirmar dada de baja -->
<div class="modal fade" id="modalDarDeBajaFacultad" tabindex="-1" aria-labelledby="modalDarDeBajaFacultadLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center fw-bold">Dar de Baja Facultad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body text-center">
                <p>¿Estás seguro de que deseas dar de baja la facultad <strong id="nombreFacultadDarDeBaja"></strong>?</p>
                <input type="hidden" id="idFacultadDarDeBaja" name="idFacultadDarDeBaja">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="confirmarDarDeBajaFacultad">Dar de Baja</button>
            </div>
        </div>
    </div>
</div>
{% block scripts %}
<!-- Incluye las librerías necesarias -->
<script src="https://cdn.datatables.net/buttons/2.3.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.print.min.js"></script>

<script>
    $(document).ready(function () {
        if ($.fn.DataTable.isDataTable('#tabla-facultad')) {
            $('#tabla-facultad').DataTable().clear().destroy();
        }
        var table = $('#tabla-facultad').DataTable({
            paging: false,
            info: false,
            responsive: true,
            autoWidth: false,
            searching: true,
            scrollY: "510px",
            order: [], 
            dom: `
                <"row mb-3"<"col-12 text-center"B>>
                <"row mb-3"<"col-12"f>>
                <"row"<"col-12"rt>>
                <"row"<"col-12"ip>>
            `,
            buttons: [
                {
                    extend: 'collection',
                    text: '<i class="fas fa-file-export"></i> Exportar/Imprimir',
                    className: 'btn btn-secondary mb-2',
                    buttons: [
                        {
                            extend: 'copy',
                            text: '<i class="fas fa-copy"></i> Copiar',
                            className: 'dropdown-item'
                        },
                        {
                            extend: 'csv',
                            text: '<i class="fas fa-file-csv"></i> CSV',
                            className: 'dropdown-item'
                        },
                        {
                            extend: 'excel',
                            text: '<i class="fas fa-file-excel"></i> Excel',
                            className: 'dropdown-item'
                        },
                        {
                            extend: 'pdf',
                            text: '<i class="fas fa-file-pdf"></i> PDF',
                            className: 'dropdown-item'
                        },
                        {
                            extend: 'print',
                            text: '<i class="fas fa-print"></i> Imprimir',
                            className: 'dropdown-item'
                        }
                    ]
                }, 
                {
                    text: '<i class="fas fa-plus"></i> Agregar Nueva Facultad',
                    className: 'btn_agregar_facultad btn btn-primary mb-2',
                    action: function (e, dt, node, config) {
                        e.preventDefault();
                        $('#formAgregarFacultad')[0].reset();
                        $('#modalAgregarFacultad').modal('show');
                    }
                }
            ],
            "ajax": {
                "url": "/datos_facultades",
                "type": "GET",
                "dataSrc": ""
            },
            "processing": true,
            "serverSide": false,
            "columns": [
                { "data": "idFacultad", "className": 'text-center' },
                { "data": "nombre"},
                { "data": "abreviatura", "className": 'text-center'},
                { 
                    "data": "estado",
                    "className": 'text-center',
                    "render": function (data, type, row) {
                        return data === 'A' ? 'Activo' : 'Inactivo';
                    }
                },
                {
                    "data": null, 
                    "className": 'text-center',
                    "render": function (data, type, row) {
                        return `
                            <button class="btn btn-primary btn-sm btnVer" data-id="${row.idFacultad}" title="Ver"><i class="fas fa-eye"></i></button>
                            <button class="btn btn-warning btn-sm btnModificar" data-id="${row.idFacultad}" title="Modificar"><i class="fas fa-pencil-alt"></i></button>
                            <button class="btn btn-danger btn-sm btnEliminar" data-id="${row.idFacultad}" data-nombre="${row.nombre}" title="Eliminar"><i class="fas fa-times"></i></button>
                            <button class="btn btn-secondary btn-sm btnDarDeBaja" data-id="${row.idFacultad}" title="Dar de Baja"><i class="fas fa-arrow-down"></i></button>
                        `;
                    }
                }
            ],
            "language": {
                url: "https://cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
            }
        });

        // Función para mostrar alertas
        function mostrarAlerta(tipo, titulo, mensaje) {
            Swal.fire({
                icon: tipo,
                title: titulo,
                html: mensaje,
                showConfirmButton: true,
                timer: 5000
            });
        }

        // Evento para Ver Facultad
        $('#tabla-facultad tbody').on('click', '.btnVer', function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/obtener_facultad_por_id/' + id,
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta("error", "Error", response.error);
                    } else {
                        var estado = response.estado === 'A' ? 'Activo' : 'Inactivo';
                        $('#modalVerFacultad .modal-body').html(`
                            <table class="table table-striped table-bordered">
                                <tr><th>ID</th><td>${response.idFacultad}</td></tr>
                                <tr><th>Nombre</th><td>${response.nombre}</td></tr>
                                <tr><th>Abreviatura</th><td>${response.abreviatura}</td></tr>
                                <tr><th>Estado</th><td>${estado}</td></tr>
                            </table>
                        `);
                        $('#modalVerFacultad').modal('show');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta("error", "Error", "Hubo un error al obtener la facultad.");
                }
            });
        });

        // Evento para Agregar Facultad
        $('#formAgregarFacultad').submit(function (e) {
            e.preventDefault();
            var data = {
                nombre: $('#nombreFacultad').val(),
                abreviatura: $('#abreviaturaFacultad').val(),
                estado: $('#estadoFacultad').val()
            };
            $.ajax({
                url: '/agregar_facultad',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta("error", "Error", response.error);
                    } else {
                        mostrarAlerta("success", "Éxito", response.mensaje);
                        table.ajax.reload();
                        $('#modalAgregarFacultad').modal('hide');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta("error", "Error", "Hubo un error al agregar la facultad.");
                }
            });
        });

        // Evento para Modificar Facultad
        $('#tabla-facultad tbody').on('click', '.btnModificar', function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/obtener_facultad_por_id/' + id,
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta("error", "Error", response.error);
                    } else {
                        $('#idFacultadMod').val(response.idFacultad);
                        $('#nombreFacultadMod').val(response.nombre);
                        $('#abreviaturaFacultadMod').val(response.abreviatura);
                        $('#estadoFacultadMod').val(response.estado);
                        $('#modalModificarFacultad').modal('show');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta("error", "Error", "Hubo un error al obtener la facultad.");
                }
            });
        });
        $('#formModificarFacultad').submit(function (e) {
            e.preventDefault();
            var data = {
                idFacultad: $('#idFacultadMod').val(),
                nombre: $('#nombreFacultadMod').val(),
                abreviatura: $('#abreviaturaFacultadMod').val(),
                estado: $('#estadoFacultadMod').val()
            };
            $.ajax({
                url: '/modificar_facultad',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta("error", "Error", response.error);
                    } else {
                        mostrarAlerta("success", "Éxito", response.mensaje);
                        table.ajax.reload();
                        $('#modalModificarFacultad').modal('hide');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta("error", "Error", "Hubo un error al modificar la facultad.");
                }
            });
        });

        // Evento para Eliminar Facultad
        $('#tabla-facultad tbody').on('click', '.btnEliminar', function () {
            var id = $(this).data('id');
            var nombre = $(this).data('nombre');
            $('#nombreFacultadEliminar').text(nombre);
            $('#idFacultadEliminar').val(id);
            $('#modalEliminarFacultad').modal('show');
        });
        $('#confirmarEliminarFacultad').click(function () {
            var id = $('#idFacultadEliminar').val();
            $.ajax({
                url: '/eliminar_facultad',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ idFacultad: id }),
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta("error", "Error", response.error);
                    } else {
                        mostrarAlerta("success", "Éxito", response.mensaje);
                        table.ajax.reload();
                        $('#modalEliminarFacultad').modal('hide');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta("error", "Error", "Hubo un error al eliminar la facultad.");
                }
            });
        });

        // Evento para Dar de Baja Facultad
        $('#tabla-facultad tbody').on('click', '.btnDarDeBaja', function () {
            var id = $(this).data('id');
            var nombre = $(this).data('nombre');
            $('#nombreFacultadDarDeBaja').text(nombre);
            $('#idFacultadDarDeBaja').val(id);
            $('#modalDarDeBajaFacultad').modal('show');
        });
        $('#confirmarDarDeBajaFacultad').click(function () {
            var id = $('#idFacultadDarDeBaja').val();
            $.ajax({
                url: '/dar_de_baja_facultad',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ idFacultad: id }),
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta("error", "Error", response.error);
                    } else {
                        mostrarAlerta("success", "Éxito", response.mensaje);
                        table.ajax.reload();
                        $('#modalDarDeBajaFacultad').modal('hide');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta("error", "Error", "Hubo un error al dar de baja la facultad.");
                }
            });
        });
    });
</script>
{% endblock %}
{% endblock %}
