{% extends "/gestion_academica/index.html" %}
{% block titulo %} Tipo Prácticas {% endblock %}
{% block contenido %}

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('router_main.index') }}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('router_main.gestion_academica') }}">Módulo de Gestión Académica</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tipo Prácticas</li>
    </ol>
</nav>

<div class="container-fluid my-4">
    <div class="card w-100">
        <div class="card-header bg-red-usat text-white" id="headingOne" data-bs-toggle="collapse"
        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Tipo Prácticas
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tabla-tipoPractica" class="table table-striped tabla-tipoPracticas" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Abreviatura</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los datos se cargarán dinámicamente -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- MODAL VER TIPO PRACTICAS -->
<div class="modal fade" id="modalVerTipoPracticas" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalle Tipo Prácticas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <!-- LOS DATOS SE CARGAN DINAMICAMENTE -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL AGREGAR TIPO PRACTICAS -->
<div class="modal fade" id="modalAgregarTipoPractica" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Tipo Prácticas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="formAgregarTipoPractica">

                    <div class="mb-3">
                        <label for="nombreTipoPractica" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombreTipoPractica" name="nombreTipoPractica" required>
                    </div>

                    <div class="mb-3">
                        <label for="abreviaturaTipoPractica" class="form-label">Abreviatura:</label>
                        <input type="text" class="form-control" id="abreviaturaTipoPractica" name="abreviaturaTipoPractica" required>
                    </div>

                    <div class="mb-3">
                        <label for="estadoTipoPracticac" class="form-label">Estado:</label>
                        <select class="form-control" id="estadoTipoPractica" name="estadoTipoPractica" required>
                            <option value="A">Activo</option>
                            <option value="I">Inactivo</option>
                        </select>
                    </div>
    
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- MODAL MODIFICAR TIPO PRACTICA -->
<div class="modal fade" id="modalModificarTipoPractica" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modificar Tipo Práctica</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="formModificarTipoPractica">
                    <input type="hidden" id="idTipoPracticaMod" name="idTipoPracticaMod">

                    <div class="mb-3">
                        <label for="nombreTipoPractica" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombreTipoPractica" name="nombreTipoPractica" required>
                    </div>

                    <div class="mb-3">
                        <label for="abreviaturaTipoPractica" class="form-label">Abreviatura:</label>
                        <input type="text" class="form-control" id="abreviaturaTipoPractica" name="abreviaturaTipoPractica" required>
                    </div>

                    <div class="mb-3">
                        <label for="estadoTipoPractica" class="form-label">Estado:</label>
                        <select class="form-control" id="estadoTipoPractica" name="estadoTipoPractica" required>
                            <option value="A">Activo</option>
                            <option value="I">Inactivo</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para confirmar eliminación TIPO PRACTICA -->
<div class="modal fade" id="modalEliminarTipoPractica" tabindex="-1" aria-labelledby="modalEliminarTipoPracticaLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center fw-bold">Eliminar Tipo Práctica</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body text-center">
                <p>¿Estás seguro de que deseas eliminar el Tipo de Práctica <strong id="nombreTipoPracticaEliminar"></strong>?</p>
                <input type="hidden" id="idTipoPracticaEliminar" name="idTipoPracticaEliminar">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="confirmarEliminarTipoPractica">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para confirmar dada de baja -->
<div class="modal fade" id="modalDarDeBajaTipoPractica" tabindex="-1" aria-labelledby="modalDarDeBajaTipoPracticaLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center fw-bold">Dar de Baja Tipo Práctica</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body text-center">
                <p>¿Estás seguro de que deseas dar de baja Tipo de Práctica <strong id="nombreTipoPracticaDarDeBaja"></strong>?</p>
                <input type="hidden" id="idTipoPracticaDarDeBaja" name="idTipoPracticaDarDeBaja">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="confirmarDarDeBajaTipoPractica">Dar de Baja</button>
            </div>
        </div>
    </div>
</div>

{% block scripts %}
    <!-- Librerías específicas para los botones de DataTables -->
<script src="https://cdn.datatables.net/buttons/2.3.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.print.min.js"></script>

<script>

    $(document).ready(function () {

        if ($.fn.DataTable.isDataTable('#tabla-tipoPractica')) {
            $('#tabla-tipoPractica').DataTable().destroy(); //destruye la instancia previa...
        }
    
        var table = $('#tabla-tipoPractica').DataTable({
            paging: false, // Activamos la paginación
            info: false, // Mostrar información sobre el total de filas y páginas
            responsive: true,
            autoWidth: false,
            searching: true,
            scrollY: "510px",
            order: [],
            dom: `
                <"row mb-3"<"col-12 text-center"B>>
                <"row mb-3"<"col-12"f>>
                <"row"<"col-12"rt>>
                <"row"<"col-12"ip>>
            `,
            buttons: [
                {
                    extend: 'collection',
                    text: '<i class="fas fa-file-export"></i> Exportar/Imprimir',
                    className: 'btn btn-secondary mb-2',
                    buttons: [
                        { 
                            extend: 'copy', 
                            text: '<i class="fas fa-copy"></i> Copiar', 
                            className: 'dropdown-item' 
                        },
                        { 
                            extend: 'csv', 
                            text: '<i class="fas fa-file-csv"></i> CSV', 
                            className: 'dropdown-item' 
                        },
                        { 
                            extend: 'excel', 
                            text: '<i class="fas fa-file-excel"></i> Excel', 
                            className: 'dropdown-item' 
                        },
                        { 
                            extend: 'pdf', 
                            text: '<i class="fas fa-file-pdf"></i> PDF', 
                            className: 'dropdown-item' 
                        },
                        { 
                            extend: 'print', 
                            text: '<i class="fas fa-print"></i> Imprimir', 
                            className: 'dropdown-item' 
                        }
                    ]
                },
                {
                    text: '<i class="fas fa-plus"></i> Agregar Nuevo Tipo Práctica',
                    className: 'btn_agregar_tipopractica btn btn-primary mb-2',
                    action: function (e, dt, node, config) {
                        e.preventDefault();
                        $('#formAgregarTipoPractica')[0].reset();
                        $('#modalAgregarTipoPractica').modal('show');
                    }
                }
            ],
            ajax: {
                url: '/datos_tipopracticas',
                type: 'GET',
                dataSrc: ""
            },
            processing: true,
            serverSide: false,
            columns: [
                { data: "idTipoPractica", className: 'text-center' },
                { data: "nombre", className: 'text-center' },
                { data: "abreviatura", className: 'text-center' },
                {
                    data: "estado",
                    className: 'text-center',
                    render: function (data, type, row) {
                        return data === 'A' ? 'Activo' : 'Inactivo';
                    }
                },
                {
                    data: null,
                    className: 'text-center',
                    render: function (data, type, row) {
                        return `
                            <button class="btn btn-primary btn-sm btnVer" data-id="${row.idTipoPractica}" title="Ver"><i class="fas fa-eye"></i></button>
                            <button class="btn btn-warning btn-sm btnModificar" data-id="${row.idTipoPractica}" title="Modificar"><i class="fas fa-pencil-alt"></i></button>
                            <button class="btn btn-danger btn-sm btnEliminar" data-id="${row.idTipoPractica}" data-nombre="${row.nombre}" title="Eliminar"><i class="fas fa-times"></i></button>
                            <button class="btn btn-secondary btn-sm btnDarBaja" data-id="${row.idTipoPractica}" title="DarBaja"><i class="fas fa-arrow-down"></i></button>
                        `;
                    }
                }
            ], 
            "language": {
                url: "https://cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
            }
        });

        //Función para mostrar alertas 
        function mostrarAlerta(tipo, titulo, mensaje){
            Swal.fire({
                icon: tipo, 
                title: titulo, 
                html: mensaje, 
                showConfirmButton: true, 
                timer: 5000
            })
        }

        // Evento para agregar Tipo Practicas
        $('#formAgregarTipoPractica').submit(function (e) {
            e.preventDefault();
            var data = {
                nombre: $('#nombreTipoPractica').val(),
                abreviatura: $('#abreviaturaTipoPractica').val(),
                estado: $('#estadoTipoPractica').val(),

            };

            $.ajax({
                url: '/agregar_tipopractica',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    Swal.fire('Éxito', response.mensaje, 'success');
                    table.ajax.reload();
                    $('#modalAgregarTipoPractica').modal('hide');
                },
                error: function () {
                    Swal.fire('Error', 'Hubo un error al agregar la Tipo Práctica.', 'error');
                }
            });
        });

        // Evento para mostrar el modal de agregar tipo práctica
        $('#btn_agregar_tipopractica').click(function () {
            $('#formAgregarTipoPractica')[0].reset();
            $('#modalAgregarTipoPractica').modal('show');
            
        });

        
        // Evento para ver detalles de la Tipo Práctica
        $('#tabla-tipoPracticas tbody').on('click', '.btnVer', function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/obtener_tipopractica_por_id/' + id,
                type: 'GET',
                success: function (data) {
                    $('#modalVerTipoPracticas .modal-body').html(`
                        <p><strong>ID:</strong> ${data.idTipoPractica}</p>
                        <p><strong>Nombre:</strong> ${data.nombre}</p>
                        <p><strong>Abreviatura:</strong> ${data.abreviatura}</p>
                        <p><strong>Estado:</strong> ${data.estado === 'A' ? 'Activo' : 'Inactivo'}</p>
                    `);
                    $('#modalVerTipoPracticas').modal('show');
                },
                error: function () {
                    Swal.fire('Error', 'Hubo un error al obtener los detalles de Tipo de Práctica.', 'error');
                }
            });
        });

        // Evento para mostrar el modal de modificar Tipo Prácticas
        $('#tabla-tipoPractica tbody').on('click', '.btnModificar', function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/ver_tipoPractica/' + id,
                type: 'GET',
                success: function (data) {
                    $('#idTipoPracticaMod').val(data.idTipoPractica);
                    $('#nombreTipoPracticaMod').val(data.nombre);
                    $('#abreviaturaTipoPracticaMod').val(data.abreviatura);
                    $('#estadoTipoPracticaMod').val(data.estado);
                    $('#modalModificarTipoPractica').modal('show');
                },
                error: function () {
                    Swal.fire('Error', 'Hubo un error al obtener los detalles de Tipo de Práctica.', 'error');
                }
            });
        });

        // Evento para modificar Tipo Práctica
        $('#formModificarTipoPractica').submit(function (e) {
            e.preventDefault();
            var data = {
                id: $('#idTipoPracticaMod').val(),
                nombre: $('#nombreTipoPracticaMod').val(),
                abreviatura: $('#abreviaturaTipoPracticaMod').val(),
                estado: $('#estadoTipoPracticaMod').val(),
            };

            $.ajax({
                url: '/modificar_tipopratica',
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    Swal.fire('Éxito', response.mensaje, 'success');
                    table.ajax.reload();
                    $('#modalModificarTipoPractica').modal('hide');
                },
                error: function () {
                    Swal.fire('Error', 'Hubo un error al modificar Tipo Práctica.', 'error');
                }
            });
        });

        // Evento para eliminar tipo práctica
        $('#tabla-tipoPracticas tbody').on('click', '.btnEliminar', function () {
            var id = $(this).data('id');
            var nombre = $(this).closest('tr').find('td:nth-child(2)').text();
            $('#nombreTipoPracticaEliminar').text(nombre);
            $('#idTipoPracticaEliminar').val(id);
            $('#modalEliminarTipoPractica').modal('show');
        });

        $('#confirmarEliminarTipoPractica').click(function () {
            var id = $('#idTipoPracticaEliminar').val();
            $.ajax({
                url: '/eliminar_tipopractica/' + id,
                type: 'DELETE',
                success: function (response) {
                    Swal.fire('Éxito', response.mensaje, 'success');
                    table.ajax.reload();
                    $('#modalEliminarTipoPractica').modal('hide');
                },
                error: function () {
                    Swal.fire('Error', 'Hubo un error al eliminar Tipo de Práctica.', 'error');
                }
            });
        });
    });
</script>
{% endblock %}
{% endblock %}
