{% extends "index.html" %}
{% block titulo %} Estudiantes {% endblock %}
{% block contenido %}
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('router_main.index') }}">Inicio</a></li>
        <li class="breadcrumb-item active"><a href="{{ url_for('router_main.estudiante') }}">Estudiantes</a></li>
    </ol>
</nav>

<div class="container-fluid my-4">
    <div class="card w-100" id="card_estudiantes">
        <div class="card-header bg-red-usat text-white" id="headingOne" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Estudiantes
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tabla-estudiante" class="table table-striped tabla-estudiantes tabla-comun" style="width:100%">
                    <thead>
                        <tr>
                            <th style="text-align:center">Número Documento</th>
                            <th style="text-align:center">Nombre</th>
                            <th style="text-align:center">Apellido</th>
                            <th style="text-align:center">Correo Personal</th>
                            <th style="text-align:center">Correo USAT</th>
                            <th style="text-align:center">Teléfono</th>
                            <th style="text-align:center">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los datos de los estudiantes se cargarán dinámicamente aquí -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- MODAL AGREGAR ESTUDIANTE -->
    <div class="modal fade" id="modalAgregarEstudiante" tabindex="-1" aria-labelledby="modalEstudianteLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Estudiante</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formAgregarEstudiante">
                        <div class="mb-3">
                            <label for="numDoc" class="form-label">Número de Documento:</label>
                            <input type="text" class="form-control" id="numDoc" name="numDoc" maxlength="12" required>
                        </div>
                        <div class="mb-3">
                            <label for="nombreEstudiante" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombreEstudiante" name="nombre" required>
                        </div>
                        <div class="mb-3">
                            <label for="apellidosEstudiante" class="form-label">Apellidos:</label>
                            <input type="text" class="form-control" id="apellidosEstudiante" name="apellidos" required>
                        </div>
                        <div class="mb-3">
                            <label for="codUniversitario" class="form-label">Código Universitario:</label>
                            <input type="text" class="form-control" id="codUniversitario" name="codUniversitario" required>
                        </div>
                        <div class="mb-3">
                            <label for="tel1" class="form-label">Teléfono 1:</label>
                            <input type="text" class="form-control" id="tel1" name="tel1" maxlength="9" required>
                        </div>
                        <div class="mb-3">
                            <label for="tel2" class="form-label">Teléfono 2:</label>
                            <input type="text" class="form-control" id="tel2" name="tel2" maxlength="9">
                        </div>
                        <div class="mb-3">
                            <label for="correoP" class="form-label">Correo Personal:</label>
                            <input type="email" class="form-control" id="correoP" name="correoP" required>
                        </div>
                        <div class="mb-3">
                            <label for="correoUSAT" class="form-label">Correo USAT:</label>
                            <input type="email" class="form-control" id="correoUSAT" name="correoUSAT" required>
                        </div>
                        <div class="mb-3">
                            <label for="estadoEstudiante" class="form-label">Estado:</label>
                            <select class="form-control" id="estadoEstudiante" name="estado" required>
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL MODIFICAR ESTUDIANTE -->
    <div class="modal fade" id="modalModificarEstudiante" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modificar Estudiante</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form id="formModificarEstudiante">
                        <div class="mb-3">
                            <label for="modificarNumDoc" class="form-label">Número de Documento:</label>
                            <input type="text" class="form-control" id="modificarNumDoc" name="numDoc" maxlength="12" required>
                        </div>
                        <div class="mb-3">
                            <label for="modificarNombreEstudiante" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="modificarNombreEstudiante" name="nombre" required>
                        </div>
                        <div class="mb-3">
                            <label for="modificarApellidosEstudiante" class="form-label">Apellidos:</label>
                            <input type="text" class="form-control" id="modificarApellidosEstudiante" name="apellidos" required>
                        </div>
                        <div class="mb-3">
                            <label for="modificarCodUniversitario" class="form-label">Código Universitario:</label>
                            <input type="text" class="form-control" id="modificarCodUniversitario" name="codUniversitario" required>
                        </div>
                        <div class="mb-3">
                            <label for="modificarTel1" class="form-label">Teléfono 1:</label>
                            <input type="text" class="form-control" id="modificarTel1" name="tel1" maxlength="9" required>
                        </div>
                        <div class="mb-3">
                            <label for="modificarTel2" class="form-label">Teléfono 2:</label>
                            <input type="text" class="form-control" id="modificarTel2" name="tel2" maxlength="9">
                        </div>
                        <div class="mb-3">
                            <label for="modificarCorreoP" class="form-label">Correo Personal:</label>
                            <input type="email" class="form-control" id="modificarCorreoP" name="correoP" required>
                        </div>
                        <div class="mb-3">
                            <label for="modificarCorreoUSAT" class="form-label">Correo USAT:</label>
                            <input type="email" class="form-control" id="modificarCorreoUSAT" name="correoUSAT" required>
                        </div>
                        <div class="mb-3">
                            <label for="modificarEstadoEstudiante" class="form-label">Estado:</label>
                            <select class="form-control" id="modificarEstadoEstudiante" name="estado" required>
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                        <input type="hidden" id="modificarIdEstudiante" name="idpersona">
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var estudiantes = [];

        function initializeDataTable() {
            var table = $('#tabla-estudiante').DataTable({
                paging: false,
                info: false,
                responsive: true,
                autoWidth: true,
                searching: true,
                scrollY: "620px",
                order: [],
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: '<i class="fas fa-plus"></i> Agregar Nuevo Estudiante',
                        className: 'btn_agregar_estudiante',
                        action: function (e) {
                            e.preventDefault();
                            $('#formAgregarEstudiante')[0].reset();
                            $('#modalAgregarEstudiante').modal('show');
                        }
                    }
                ],
                ajax: {
                    url: "/datos_estudiantes",
                    type: "GET",
                    dataSrc: ""
                },
                processing: true,
                serverSide: false,
                columns: [
                    { data: "numDoc" },
                    { data: "nombre", className: 'dt-body-center' },
                    { data: "apellidos", className: 'dt-body-center' },
                    { data: "correoP", className: 'dt-body-center' },
                    { data: "correoUSAT", className: 'dt-body-center' },
                    { data: "tel1", className: 'dt-body-center' },
                    {
                        data: null, className: 'dt-body-center',
                        render: function (data, type, row) {
                            return `
                                <button class="btn btn-warning btn-sm btnModificar" data-id="${row.numDoc}" title="Modificar"><i class="fas fa-pencil-alt"></i></button>
                                <button class="btn btn-danger btn-sm btnEliminar" data-id="${row.numDoc}" data-nombre="${row.nombre}" title="Eliminar"><i class="fas fa-times"></i></button>
                            `;
                        }
                    }
                ],
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
                }
            });

            return table;
        }

        var table;
        if ($.fn.DataTable.isDataTable('#tabla-estudiante')) {
            table = $('#tabla-estudiante').DataTable();
            table.ajax.reload();
        } else {
            table = initializeDataTable();
        }

        $('#formAgregarEstudiante').submit(function (e) {
            e.preventDefault();
            var data = {
                numDoc: $('#numDoc').val(),
                nombre: $('#nombreEstudiante').val(),
                apellidos: $('#apellidosEstudiante').val(),
                codUniversitario: $('#codUniversitario').val(),
                tel1: $('#tel1').val(),
                tel2: $('#tel2').val(),
                correoP: $('#correoP').val(),
                correoUSAT: $('#correoUSAT').val(),
                estado: $('#estadoEstudiante').val()
            };

            $.ajax({
                url: '/agregar_estudiante',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    if (response.error) {
                        Swal.fire('Error', response.error, 'error');
                    } else {
                        Swal.fire('Éxito', 'Estudiante agregado correctamente', 'success');
                        table.ajax.reload();
                        $('#modalAgregarEstudiante').modal('hide');
                    }
                },
                error: function (xhr, status, error) {
                    Swal.fire('Error', 'Hubo un error al agregar el estudiante', 'error');
                }
            });
        });

        $('#formModificarEstudiante').submit(function (e) {
            e.preventDefault();
            var data = {
                numDoc: $('#modificarNumDoc').val(),
                nombre: $('#modificarNombreEstudiante').val(),
                apellidos: $('#modificarApellidosEstudiante').val(),
                codUniversitario: $('#modificarCodUniversitario').val(),
                tel1: $('#modificarTel1').val(),
                tel2: $('#modificarTel2').val(),
                correoP: $('#modificarCorreoP').val(),
                correoUSAT: $('#modificarCorreoUSAT').val(),
                estado: $('#modificarEstadoEstudiante').val()
            };

            Swal.fire({
                title: `¿Estás seguro de modificar este estudiante?`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, modificar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/modificar_estudiante',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(data),
                        success: function (response) {
                            if (response.error) {
                                Swal.fire('Error', response.error, 'error');
                            } else {
                                Swal.fire('Éxito', 'Estudiante modificado correctamente', 'success');
                                table.ajax.reload();
                                $('#modalModificarEstudiante').modal('hide');
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log(error);
                        }
                    });
                }
            });
        });

        $('#tabla-estudiante tbody').on('click', '.btnModificar', function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/obtener_estudiante_por_id/' + id,
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    var estudiante = response;
                    $('#modificarNumDoc').val(estudiante.numDoc);
                    $('#modificarNombreEstudiante').val(estudiante.nombre);
                    $('#modificarApellidosEstudiante').val(estudiante.apellidos);
                    $('#modificarCodUniversitario').val(estudiante.codUniversitario);
                    $('#modificarTel1').val(estudiante.tel1);
                    $('#modificarTel2').val(estudiante.tel2);
                    $('#modificarCorreoP').val(estudiante.correoP);
                    $('#modificarCorreoUSAT').val(estudiante.correoUSAT);
                    $('#modificarEstadoEstudiante').val(estudiante.estado);
                    $('#modalModificarEstudiante').modal('show');
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });

        $('#tabla-estudiante tbody').on('click', '.btnEliminar', function () {
            var id = $(this).data('id');
            var nombre = $(this).data('nombre');
            Swal.fire({
                title: `¿Seguro que quieres eliminar el estudiante: ${nombre}?`,
                text: "No podrás revertir esta acción.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminarlo!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/eliminar_estudiante',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ numDoc: id }),
                        success: function (response) {
                            if (response.error) {
                                Swal.fire('Error', response.error, 'error');
                            } else {
                                Swal.fire('Éxito', 'La operación se realizó correctamente.', 'success');
                                table.ajax.reload();
                            }
                        },
                        error: function (xhr, status, error) {
                            Swal.fire('Error', 'Hubo un error al eliminar el estudiante', 'error');
                        }
                    });
                }
            });
        });
    });
</script>
{% endblock %}
